header nav .wrapper_100 .cont_wrapper_75 .width_40 a {
  display: inline-block;
  margin-top: 1.3vw;
}

header nav .wrapper_100 .cont_wrapper_75 .width_40 a img {
  display: block;
}

header nav .wrapper_100 .cont_wrapper_75 .width_20 a {
  color: #081461;
  background: #ffee00 !important;
  padding: 0.912vw 2.8vw;
  -webkit-border-radius: 0.4vw;
     -moz-border-radius: 0.4vw;
          border-radius: 0.4vw;
  margin: 1.1vw 0;
  display: block;
}

main {
  overflow: hidden;
}

main .hero_section img {
  width: 100%;
  height: auto;
  display: block;
}

main .service_section {
  background-image: url("../img/bg_service.png");
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 2.1vw;
}

main .service_section::after {
  content: '';
  background-image: url("../img/border_btm.png");
  position: absolute;
  width: 100%;
  height: 0.652vw;
  z-index: 1;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  bottom: 0;
}

main .service_section .wrapper_100 .cont_wrapper_85 .width_25 img {
  height: auto;
  width: 20.9vw;
}

main .service_section .wrapper_100 .cont_wrapper_85 .width_22 img {
  height: auto;
  width: 18.6vw;
}

main .benefits_section {
  background: #e6e7ef;
  padding: 5.208vw 0 6vw;
  position: relative;
}

main .benefits_section::after {
  content: '';
  background-image: url("../img/bg_benefits_btm.png");
  position: absolute;
  width: 100%;
  height: 6.511vw;
  z-index: 1;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center;
  bottom: -6.5vw;
}

main .benefits_section .wrapper_100 .benefit_content {
  text-align: center;
  margin: 0 auto;
}

main .benefits_section .wrapper_100 .benefit_content .benefit_p1 {
  display: block;
  text-align: center;
  color: #1d1f65;
  font-family: "YuGothic";
  font-weight: 900;
  margin-bottom: 0.5vw;
}

main .benefits_section .wrapper_100 .benefit_content .benefit_p2 {
  text-align: center;
  color: #1d1f65;
  font-family: "YuGothic";
  font-weight: 900;
  margin-bottom: 4vw;
}

main .benefits_section .wrapper_100 .benefit_content .benefit_p2 img {
  position: relative;
  top: 0.573vw;
  margin-right: 1.146vw;
}

main .benefits_section .wrapper_100 .mg_btm {
  margin-bottom: 3.604vw;
}

main .benefits_section .wrapper_100 .person_left::after {
  content: '';
  background-image: url("../img/bnft_person1.png");
  position: absolute;
  width: 9.396vw;
  height: 15.083vw;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  left: -4.9vw;
  top: -0.417vw;
  z-index: 90;
}

main .benefits_section .wrapper_100 .person_right {
  z-index: 2;
}

main .benefits_section .wrapper_100 .person_right::after {
  content: '';
  background-image: url("../img/bnft_person2.png");
  position: absolute;
  width: 9.396vw;
  height: 15.083vw;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  right: -5.2vw;
  bottom: -4vw;
  z-index: 90;
}

main .benefits_section .wrapper_100 .cont_wrapper_65 {
  position: relative;
}

main .benefits_section .wrapper_100 .cont_wrapper_65 .width_50 .benefit_item {
  background: #ffffff;
  border: 2px #081461 solid;
  margin: 0 1.51vw;
  padding: 1.88vw 0;
  z-index: 1;
}

main .benefits_section .wrapper_100 .cont_wrapper_65 .width_50 .benefit_item .width_25 {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

main .benefits_section .wrapper_100 .cont_wrapper_65 .width_50 .benefit_item .width_25 img {
  width: 3.907vw;
  height: 2.8vw;
  display: block;
}

main .benefits_section .wrapper_100 .cont_wrapper_65 .width_50 .benefit_item .width_75 {
  -webkit-box-align: left;
  -webkit-align-items: left;
     -moz-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
     -moz-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

main .benefits_section .wrapper_100 .cont_wrapper_65 .width_50 .benefit_item .width_75 p {
  color: #081461;
  font-weight: 900;
}

main .benefits_section .wrapper_100 .cont_wrapper_65 .width_50 .last_item {
  padding: 3.27vw 0;
}

main .offer_section {
  background-image: url("../img/bg_light.png");
  padding: 14vw 0 15.8vw;
  background-position-x: center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

main .offer_section::after {
  content: '';
  background-image: url("../img/tb_bg_1.png");
  position: absolute;
  width: 100%;
  height: 7.162vw;
  z-index: 1;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  bottom: -1.5vw;
}

main .offer_section .wrapper_100 .cont_wrapper_75 .offer_details {
  margin-bottom: 5.010vw;
}

main .offer_section .wrapper_100 .cont_wrapper_75 .offer_details .offer_p {
  color: #1d1f65;
  font-weight: 900;
  text-align: center;
  margin-bottom: 0.729vw;
}

main .offer_section .wrapper_100 .cont_wrapper_75 .offer_details img {
  display: block;
  margin: 0 auto;
}

main .offer_section .wrapper_100 .cont_wrapper_75 .width_33 {
  margin: 0 auto;
}

main .offer_section .wrapper_100 .cont_wrapper_75 .width_33 img {
  height: 20.704vw;
  width: 20.704vw;
  display: block;
  margin: 0 auto;
}

main .tb_section {
  padding: 8.6vw 0 6.3vw;
  position: relative;
}

main .tb_section::after {
  content: '';
  background-image: url("../img/tb_bg_2.png");
  position: absolute;
  width: 100%;
  height: 6.511vw;
  z-index: 1;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center;
  bottom: -6.5vw;
}

main .tb_section .tb_main_wrap .cont_wrapper_75 .tb_content {
  text-align: center;
  margin: 0 auto;
}

main .tb_section .tb_main_wrap .cont_wrapper_75 .tb_content .tool_tip {
  width: 7.500vw;
  height: 4.896vw;
  margin: 0 auto -1.042vw;
  display: block;
}

main .tb_section .tb_main_wrap .cont_wrapper_75 .tb_content .tb_emenu_details {
  margin-bottom: 4.323vw;
  text-align: center;
  color: #1d1f65;
  font-family: "YuGothic";
  font-weight: 900;
}

main .tb_section .tb_main_wrap .cont_wrapper_75 .tb_content .tb_emenu_details img {
  position: relative;
  top: 0.573vw;
  margin-right: 1.146vw;
}

main .tb_section .tb_main_wrap .cont_wrapper_75 .tb_content .tb_tag {
  margin-bottom: 3.292vw;
  display: inline-block;
  color: #ffffff;
  padding: 0.521vw 1.250vw;
}

main .tb_section .tb_main_wrap .cont_wrapper_75 .tb_content .tb_arrow {
  width: 28.750vw;
  height: 1.667vw;
  margin: 0 0 2.510vw 28vw;
  display: block;
}

main .tb_section .tb_main_wrap .cont_wrapper_75 table {
  border: 1px #081461 solid;
  border-spacing: 0;
  width: 100%;
}

main .tb_section .tb_main_wrap .cont_wrapper_75 table tbody tr th, main .tb_section .tb_main_wrap .cont_wrapper_75 table tbody tr td {
  line-height: 100%;
}

main .tb_section .tb_main_wrap .cont_wrapper_75 table tbody tr th p, main .tb_section .tb_main_wrap .cont_wrapper_75 table tbody tr td p {
  color: #081461;
  font-weight: 500;
}

main .tb_section .tb_main_wrap .cont_wrapper_75 table tbody tr th {
  border-right: 1px #081461 solid;
  text-align: center;
}

main .tb_section .tb_main_wrap .cont_wrapper_75 table tbody tr th img {
  height: 1.406vw;
  width: 1.406vw;
  display: inline-block;
  line-height: 100%;
}

main .tb_section .tb_main_wrap .cont_wrapper_75 table tbody tr th:last-child {
  border-right: 0;
}

main .tb_section .tb_main_wrap .cont_wrapper_75 table tbody tr td {
  border-top: 1px #081461 solid;
  border-right: 1px #081461 solid;
}

main .tb_section .tb_main_wrap .cont_wrapper_75 table tbody tr td:last-child {
  border-right: 0;
}

main .tb_section .tb_main_wrap .cont_wrapper_75 table tbody tr .bg_ww_grey {
  background: #e6e7ef;
}

main .tb_section .tb_main_wrap .cont_wrapper_75 table tbody tr .bg_white {
  background: #ffffff;
  text-align: center;
}

main .tb_section .tb_main_wrap .cont_wrapper_75 table tbody tr .tb_img_main .tb_img_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  padding: 0.260vw 0;
}

main .tb_section .tb_main_wrap .cont_wrapper_75 table tbody tr .tb_img_main .tb_img_wrap .tb_col1 {
  width: 75%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .tb_section .tb_main_wrap .cont_wrapper_75 table tbody tr .tb_img_main .tb_img_wrap .tb_col1 img {
  height: 4.8vw;
  width: 4.5vw;
  display: block;
  line-height: 100%;
  margin-left: 2vw;
}

main .tb_section .tb_main_wrap .cont_wrapper_75 table tbody tr .tb_img_main .tb_img_wrap .tb_col2 {
  width: 25%;
}

main .tb_section .tb_main_wrap .cont_wrapper_75 table tbody tr .tb_img_main .tb_img_wrap .tb_col2 p {
  line-height: 100%;
  font-weight: 900;
  padding-top: 2.5vw;
}

main .tb_section .tb_main_wrap .cont_wrapper_75 table tbody tr .tb_last p {
  padding: 1.302vw 0;
}

main .provision_section .cont_wrapper_75 .p_after_before::after {
  content: url(../img/provision-p-slash-right.png);
  position: absolute;
  margin-top: 5px;
}

main .provision_section .cont_wrapper_75 .p_after_before::before {
  content: url(../img/provision-p-slash-left.png);
  position: absolute;
  margin-top: 5px;
}

main .provision_section .cont_wrapper_75 .p_after_yellow {
  position: relative;
  z-index: 1;
}

main .provision_section .cont_wrapper_75 .p_after_yellow::after {
  content: '';
  position: absolute;
  width: 43% !important;
  height: 25% !important;
  z-index: -1;
  left: 28%;
  bottom: 0;
  background-color: #ffee00 !important;
}

main .bg_base1 {
  background: #e6e7ef !important;
}

main .comparison_section .bg_comp_wrap, main .comparison_section_2 .bg_comp_wrap {
  background-image: url("../img/bg_comparison.png");
  background-position-x: center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

main .ntspace_3 {
  margin-top: -6vw !important;
}

main .store_section {
  background: #e6e7ef;
  padding: 6vw 0;
}

main .store_section .wrapper_100 .cont_wrapper_75 .store_content {
  text-align: center;
}

main .store_section .wrapper_100 .cont_wrapper_75 .store_content .store_txt {
  margin: 1vw;
}

main .store_section .wrapper_100 .cont_wrapper_75 .store_content p {
  margin-bottom: 4.323vw;
  color: #1d1f65;
  font-weight: 900;
}

main .store_section .wrapper_100 .cont_wrapper_75 .store_content p img {
  position: relative;
  top: 0.573vw;
  margin-right: 1.146vw;
}

main .store_section .wrapper_100 .cont_wrapper_75 .store_item_1, main .store_section .wrapper_100 .cont_wrapper_75 .store_item_2, main .store_section .wrapper_100 .cont_wrapper_75 .store_item_3 {
  background: #ffffff;
  padding: 5.8vw 3.3vw 2vw;
  text-align: center;
  position: relative;
  width: 100%;
}

main .store_section .wrapper_100 .cont_wrapper_75 .store_item_1 .tag, main .store_section .wrapper_100 .cont_wrapper_75 .store_item_2 .tag, main .store_section .wrapper_100 .cont_wrapper_75 .store_item_3 .tag {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: -8%;
}

main .store_section .wrapper_100 .cont_wrapper_75 .store_item_1 .cont_wrapper_100 .width_45 img, main .store_section .wrapper_100 .cont_wrapper_75 .store_item_2 .cont_wrapper_100 .width_45 img, main .store_section .wrapper_100 .cont_wrapper_75 .store_item_3 .cont_wrapper_100 .width_45 img {
  display: inline-block;
  width: 100%;
}

main .store_section .wrapper_100 .cont_wrapper_75 .store_item_1 .cont_wrapper_100 .width_55 p, main .store_section .wrapper_100 .cont_wrapper_75 .store_item_2 .cont_wrapper_100 .width_55 p, main .store_section .wrapper_100 .cont_wrapper_75 .store_item_3 .cont_wrapper_100 .width_55 p {
  line-height: 190%;
  padding-left: 2vw;
  font-size: 1.32vw;
  text-align: left;
  color: #081461;
  font-weight: 700;
}

main .store_section .wrapper_100 .cont_wrapper_75 .store_item_1, main .store_section .wrapper_100 .cont_wrapper_75 .store_item_2 {
  margin-bottom: 6.3vw;
}

main .store_section .wrapper_100 .cont_wrapper_75 .store_item_2 {
  padding-bottom: 7.9vw;
}

main .store_section .wrapper_100 .cont_wrapper_75 .store_item_2 .cont_wrapper_100 .width_55 p {
  padding-left: 0;
}

footer .bg_base1 {
  background: #e6e7ef !important;
}
